.projects__pagination {
    max-width: 154px;
    max-height: 24px;
    padding-bottom: 40px;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    margin: 0;
}