.footer__navigation-title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    letter-spacing: 0.1px;
}