.newscards__item {
  min-width: 270px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px 16px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-template-areas:
    "date pin"
    "title title"
    "text text";
}
.newscards__item:first-child {
  margin-left: 16px;
}

.newscards__item:last-child {
  margin-right: 16px;
}
