.header {
    background-image: url(../../images/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-width: 320px;
    height: 1.2876vw;
    padding-bottom: 100%;
}
