.ai-research-lab__text-intro {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    line-height: 1.36;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: #000D26;
    margin: 0;
}