.header {
  box-sizing: border-box;
  height: 412px;
  width: 320px;
  background-image: url(../../images/header-background.png);
  background-position: center;
  background-size: cover;
  padding: 30px 16px;

}
