.education__buttons-container {
    width: 288px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #E0F0FF;
    box-sizing: border-box;
}