.education__about-subtitle {
    margin-top: 0;
    letter-spacing: 0.1px;
    margin-bottom: 27px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}